/* Google Font - Required */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
    font-size: 16px;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.search-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.search-btn a {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin-bottom: 15px;
}

.form-container {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    text-align: center;
    width: 100%;
}

h1 {
    color: black;
    font-size: 32px;
    margin-bottom: 20px;
}

h2 {
    color: black;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-top: 12px;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
    padding: 10px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="radio"] {
    width: auto;
    margin-right: 5px;
    margin-left: 10px;
}

.height-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin-bottom: 15px;
}

.height-input {
    display: flex;
    width: 100px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin-bottom: 15px;
}

.radio-group label {
    margin-bottom: 8px;
    text-align: left;
}

.radio-options {
    display: flex;
    gap: 20px;
    margin-top: 5px;
}

input[type="radio"] {
    width: auto;
    margin-right: 5px;
}

button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    margin-top: 15px;
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
    margin: 0 auto;
}

button[type="reset"] {
    background-color: gray;
}


.delete-btn {
    background-color: red;
}


.inline-form {
    display: inline;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

th {
    background-color: blue;
    color: white;
}

a {
    color: blue;
}
