/* Google Font - Required */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 20px;
    max-width: 800px;
}


.search-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.search-btn a {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* Center form container */
.form-container {
    margin-left: 250px;
    margin-right: 250px;
}

h1 {
    color: black;
    font-size: 32px;
}

h2 {
    color: black;
    font-size: 24px;
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
    padding: 8px;
    margin-top: 5px;
    font-size: 14px;
    width: 300px;
}

input[type="radio"] {
    width: auto;
    margin-right: 5px;
    margin-left: 10px;
}

.height-input {
    width: 100px;
}

button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    margin-top: 15px;
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
    margin: 0 auto;
}

button[type="reset"] {
    background-color: gray;
}


.delete-btn {
    background-color: red;
}


.inline-form {
    display: inline;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

th {
    background-color: blue;
    color: white;
}

a {
    color: blue;
}
