<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course Web Page</title>
</head>
<body>
    <h1>Course Information</h1>
    <p>
        <em>Hello</em>
    </p>
</body>
</html>